@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --primary: #3b82f6;
  --primary-light: #60a5fa;
  --accent: #06b6d4;
  --success: #10b981;
  --success-light: #34d399;
  --warning: #f97316;
  --warning-light: #fb923c;
}



@media (prefers-color-scheme: dark) {
:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --primary: #3b82f6;
  --primary-light: #60a5fa;
  --accent: #06b6d4;
  --success: #10b981;
  --success-light: #34d399;
  --warning: #f97316;
  --warning-light: #fb923c;
}
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



